* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER STYLES */

body header {
    display: flex;
    flex-direction: column;
    background-color: #120323;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

body header h1 {
    color: #97bf04;
    font-size: 1.5rem;
}

/* CONTAINER STYLES */

#container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

/* MAIN STYLES */

main {
    display: flex;
}

main figure {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 2rem;
    gap: 1.5rem;
}

main figure img {
    border: 5px solid #d9043d;
    width: 100%;
    height: 100%;
}

main figure figcaption h2 {
    color: #120323;
    margin-top: 0;
}

main figure figcaption p {
    margin-bottom: 0;
}

/* ASIDE STYLES */

body aside {
    background-color: #97bf04;
    padding: 1rem;
}

body aside h3 {
    font-weight: bold;
}

/* FOOTER STYLES */

footer {
    background-color: #d9043d;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
}

/* MEDIA QUERIES FOR RESPONSIVE LAYOUTS */

@media screen and (max-width: 768px) {
    /* For devices LESS THAN 768px wide */
    
}

@media screen and (max-width: 1000px) {
    /* For devices LESS THAN 1000px wide */

}

@media screen and (min-width: 1000px) {
    /* For devices 1000px wide or GREATER */
    
    /* HEADER STYLES */

    body header {
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
    }

    body header h1 {
        font-size: 2rem;
    }

    /* CONTENT STYLES */

    #container {
        flex-direction: row;
        margin: 2rem 0 1rem;
    }

    /* MAIN STYLES */

    main {
        width: 75%;
    }

    main figure {
        gap: 1rem;
        flex-direction: row;
    }

    main figure img {
        width: 300px;
        height: 300px;
    }

    /* ASIDE STYLES */

    body aside {
        padding: 0.5rem;
        width: 25%;
    }
}